---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'Home Page';
---
<BaseLayout pageTitle={pageTitle}>
	<h2>My awsome blog subtitle</h2>
	<p>This line is for testing purpose to <br>
	Detect if the changed are being detected</p>
</BaseLayout>
