---
// const platform = "github";
// const username = "maqsoodahmad-1";   
import Social from './Social.astro'
---
<footer>
        <!-- <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p> -->
        <Social platform = "Twitter" username = "astrodotbuild"/>
        <Social platform = "github" username = "maqsoodahmad-1"/>
        <Social platform = "youtube" username = "astrobuild" /> 
</footer>