---
import Navigation from './Navigation.astro'
import Hamburger from './Hamburger.astro';
---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>
  <header>
    <nav>
        <Hamburger/>
        <Navigation/>
    </nav>
  </header>